<div id="menu">
    <div id="leftmenu">
        <div class="menuelement">
            <a [routerLink]="['']" class="menulink">
                <mat-icon>
                    home
                </mat-icon>
            </a>
        </div>
        <div class="menuelement notreq">
            <a [routerLink]="['examenes']" class="menulink">
                <span class="linkContent">Examenes</span>
            </a>
        </div>
        <div class="menuelement notreq">
            <a [routerLink]="['apuntes']" class="menulink">
                <span class="linkContent">Vuestros Apuntes</span>
            </a>
        </div>
        <div class="menuelement ">
            <a [routerLink]="['foro']" class="menulink">
                <span class="linkContent">El Foro</span>
            </a>
        </div>
        <div class="menuelement notreq">
            <a [routerLink]="['servicios-ias']" class="menulink">
                <span class="linkContent">Servicios IAs</span>
            </a>
        </div>
    </div>


    <div id="rightmenu">
        <div class="menuelement">
            <span>User Config</span>
        </div>
    </div>
</div>